.exchange{
    padding: 2rem 7rem;
}

.alltable{
    padding: 3rem;
    background-color: #fafafa;
}

.allTableRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableH2{
    font-size: 28px;
    color: #ff6400;
    margin-bottom: 20px;
}

.tableH5{
    font-size: 18px;
    margin-bottom:3px;
}

.tableSpan{
    color: #B1B1B1;
    font-size: 12px;
    margin-bottom:10px;
}

.tableBody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tableContent{
    font-size: 15px;
    font-weight: bold;
    padding: 15px 25px 15px 0;
    color: #323232;
}

.tableHead{
    font-size: 15px;
    padding: 15px 25px 15px 0;
    color: #B1B1B1;
    font-weight: 300;
    border-bottom: 1px solid #B1B1B1;
}

.bottomExchange{
    margin-top: 30px;
    border-radius: 7px;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomH5{
    font-size: 18px;
    font-weight: 500;
}

.bottomSpan{
    font-size: 12px;
    color: #b1b1b1;
}

.righttbottomExhange{
    display: flex;
    align-items: center;
    gap: 30px;
}

.usd{
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.256);
    border-radius: 7px;
}

.usdImage{
    width: 20px;
    margin-right: 5px;
}

.leftUsd{
    padding: 1rem 4rem 1rem 0;
}

.rightUsd{
    padding: 1rem 0 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}